* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.inner-wrap {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
}

.section-title {
  text-align: center;
  padding: 1em 0;
}
.section-title .title {
  font-size: 45px;
  position: relative;
  color: #580719;
  margin-bottom: .8em;
}
.section-title .title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 50px;
  height: 3px;
  background: #b0924b;
  left: 50%;
  transform: translateX(-50%);
}

/* ================= Navigation =============== */
header {
  padding: 0 5em;
  background-color: #fff;
  box-shadow: 1px 1px 2px 1px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}
header nav .site-logo {
  width: 80px;
}
header nav .site-logo a img {
  width: 100%;
}
header nav .menu {
  display: flex;
  align-items: center;
}
header nav .menu a {
  color: #000;
  padding: 0 10px;
  font-size: 19px;
}
header nav .menu a:hover {
  text-decoration: underline;
}

/* ================= Site Intro =============== */
.site-intro {
  width: 100%;
  height: auto;
}
.site-intro .si-item img {
  max-width: 100%;
  height: 100%;
}

/* ================= Overview Module Starts =============== */
.overview-module .om-content {
  display: flex;
  justify-content: center;

}
.overview-module .om-content .left-block {
  width: 50%;
}
.overview-module .om-content .left-block p {
  font-size: 19px;
  margin-right: 20px;
  line-height: 28px;
}
.overview-module .om-content .right-block {
  width: 50%;
}
.overview-module .om-content .right-block .img-block {
  width: 450px;
  height: 400px;
}
.overview-module .om-content .right-block .img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= Overview Module Ends =============== */

/* ================= Configuration & Floor Plan Module Starts =============== */

.configuration-floor-plan-module {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/configuration.jpg);
  padding-bottom: 3em;
}
.configuration-floor-plan-module .section-title .title {
  color: #fff;
}
.configuration-floor-plan-module .section-title .title::after {
  background: #fff;
}
.configuration {
  display: flex;
  justify-content: space-between;
}
.configuration .box {
  background-color: #fff;
  width: 50%;
  margin: 1em;
}
.configuration .box .content {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 10px 10px 40px 10px;
  padding: 2em; 
}
.configuration .box .content .heading {
  /*font-size: 45px;*/
  position: relative;
  margin-bottom: 1.5em;
}
.configuration .box .content .heading::after {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 50px;
  height: 3px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
}
.configuration .box .content .btn {
  background-color: #ed0505;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
}


/* ================= Configuration & Floor Plan Module Ends =============== */


/* ================= Connectivity Module Starts =============== */

.connectivity-module, 
.gallery-module {
  background: #580719;
}
.connectivity-module .section-title .title,
.gallery-module .section-title .title {
  color: #fff;
}

.connectivity-module .section-title p {
  color: #fff;
  font-size: 15px;
}
.connectivity-module .connectivity-container {
  display: flex;
  justify-content: space-between;
}
.connectivity-module .connectivity-container .left-block {
  width: 50%;
  margin-right: 2em;
}
.connectivity-module .connectivity-container .left-block .img-block {
  width: 100%;
  height: 400px;
}
.connectivity-module .connectivity-container .left-block .img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*.connectivity-module .connectivity-container .left-block p {
  font-size: 19px;
  margin-right: 20px;
  line-height: 28px;
}*/
.connectivity-module .connectivity-container .right-block {
  width: 50%;
}



/* ================= Connectivity Module Ends =============== */

/* ================= Gallery Module Starts =============== */

.gallery-container {
  display: flex;
  justify-content: space-between;
}
.gallery-container .column {
  width: 100%;
  padding: 1em;
}
.gallery-container .card {
  height: 240px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.gallery-container .card:hover::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.gallery-container .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ================= Gallery Module Ends =============== */


/* ================= About Module Starts =============== */

.about-module .am-container {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}
.about-module .am-container .left-block {
  width: 65%;
}
.about-module .am-container .left-block p {
  font-size: 15px;
  margin-right: 25px;
  line-height: 28px;
  text-align: center;
}
.about-module .am-container .right-block {
  width: 30%;
}
.about-module .am-container .right-block .img-block {
  /*width: 33%;*/
}
.about-module .am-container .right-block .img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= About Module Ends =============== */

/* ================= Contact Module Starts =============== */

.contact-module .cm-container {
  display: flex;
}
.contact-module .cm-container .google-map {
  width: 50%;
}
.contact-module .cm-container .contact-form {
  width: 50%;
  padding: 40px 140px;
    background-color: #580719;
}
.contact-module .cm-container .contact-form .section-title .title {
  font-size: 25px;
  color: #fff;
}
.contact-module .cm-container .contact-form .section-title .title::after {
  background: #fff;
}
.contact-module .cm-container .contact-form .section-title p {
  color: #fff;
  font-size: 15px;
  margin: 2em 0 2em 0;
}
.contact-module .cm-container .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.contact-module .cm-container .contact-form form .input-box {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
}
.contact-module .cm-container .contact-form form .input-box .input-icon {
  padding: 5px 10px;
}
.contact-module .cm-container .contact-form form .input-box .input-icon i {
  color: #fff;
}
.contact-module .cm-container .contact-form form .input-box input {
  /*padding: 8px;*/
  height: 37px;
  width: 100%;
  border: none;
  padding-left: 10px;
}
.contact-module .cm-container .contact-form form .input-box input:focus {
  outline: none;
}
.contact-module .cm-container .contact-form form .submit-btn {
  font-size: 15px;
  padding: 8px 35px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #580719;
  background: transparent;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.contact-module .cm-container .contact-form form .submit-btn:hover {
  border: 1px solid #b0924b;
}
.contact-module .cm-container .contact-form .info {
  color: #fff;
  margin-top: 2em;
}
.contact-module .cm-container .contact-form .info h3 {
  padding-bottom: 15px;
}
.contact-module .cm-container .contact-form .info a {
  color: #fff;
  font-size: 18px;
}

/* ================= Contact Module Ends =============== */

/* ================= Footer Starts =============== */

.site-footer {
  text-align: center;
}
.site-footer a {
  color: #111;
}
.site-footer a:hover {
  text-decoration: underline;
}

/* Disclaimer */
.disclaimer {
  background-color: #222;
  color: #fff;
  text-align: center;
}
.disclaimer .content p {
  font-size: 10px;
}

/* Site Footer Small */
.sf-small {
  text-align: center;
  background-color: #111;
}
.sf-small .inner-wrap {
  padding: 0.8em 0;
}
.sf-small .content a {
  color: #fff;
  font-size: 15px;
}
.sf-small .content a:hover {
  text-decoration: underline;
}

/* ================= Footer Ends =============== */